.img{
    width: 150px;
    height: 100px;
    border-radius:60%;
    border: 8px solid red;
}

@media screen and (max-width: 1000px) {
    .img{
        width: 200px;
        height: 150px;
        border-radius:60%;
        border: 8px solid orange;
    }
}
  
  
@media screen and (max-width: 850px) {
    .img{
        width: 230px;
        height: 180px;
        border-radius:60%;
        border: 8px solid blue;
    }
}
  
@media screen and (max-width: 650px) {
    .img{
        width: 250px;
        height: 200px;
        border-radius:60%;
        border: 8px solid green;
    }
}
      